/* Colors */
$color-bg: #ffea80;
$color-title: #ffffd9;
$color-line-1: #ff6138;
$color-line-2: #ffb400;
$color-line-3: #00a388;
$color-line-4: #005ab3;
$color-line-5: #8100ff;

/* Functions */
@function shadow-string($color1, $color2, $length) {
    $total-length: $length;
    $string: $color1 0px 0px;
    @while $length > 0 {
        $mix-amount: 100 - (($length / $total-length) * 100);
        $mixed-color: mix($color1, $color2, $mix-amount);
        $string-addition: $length + px $length + px;
        $string: $mixed-color $string-addition, $string;
        $length: $length - 1;
    }
    @return $string;
}

@mixin longshadow($color1, $color2, $length) {
    text-shadow: shadow-string($color1, $color2, $length);
}

/* Home Body */

.homepage {
    height: 100%;
    background: white;
    overflow: hidden;
    position: relative;
}

.home-title {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 160px;
    width: 650px;
    display: flex;
    justify-content: center;

    p {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
    }

    .home-subtitle {
        animation: FadeIn 1s linear forwards;
        animation-delay: 2s;
        opacity: 0;
        margin-top: -65px;
        color: white;
        font-family: "KeepCalm", sans-serif;
    }

    a {
        text-align: center;
        width: 180px;
        margin: 0 auto;
        display: block;
        animation: FadeIn 1s linear forwards;
        animation-delay: 2.2s;
        opacity: 0;

        &:hover {
            text-decoration: none;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            background: #ff1177;
            background: linear-gradient(90deg, #ff1158 0%, #fa378b 33%, #c663ff 65%, #c781f0 100%);
            background-size: 250% 200%;
            background-position: center left;
            padding: 10px;
            border-radius: 4px;
            color: white;
            letter-spacing: 2px;
            font-family: "KeepCalm", sans-serif;
            &:hover {
                animation: SlideRight 1s linear forwards;
                text-decoration: none;
            }
        }
    }

    h1 {
        font-size: 115px;
        margin: 0px;
        overflow: auto;
        margin-top: -55px;
        padding: 55px;
        .title-part {
            font-family: "Mexcellent", sans-serif;
            text-transform: uppercase;
            display: block;
            color: white;
            float: left;
            opacity: 0;
            padding-bottom: 10px;
            transition: all 0.2s ease-in;
            animation: FadeInNeon 1s linear forwards;
            letter-spacing: 10px;

            &:hover {
                animation: FadeInNeon 1s infinite alternate;
            }

            &.ch2 {
                animation-delay: 0.2s;
            }
            &.ch3 {
                animation-delay: 0.4s;
            }
            &.ch4 {
                animation-delay: 0.6s;
            }
            &.ch5 {
                animation-delay: 0.8s;
            }
            &.ch6 {
                animation-delay: 1s;
            }
            &.ch7 {
                animation-delay: 1.2s;
            }
            &.ch8 {
                animation-delay: 1.4s;
            }
        }
    }
}

/* Media Queries*/

@media screen and (max-width: 650px) {
    .home-title {
        width: 510px;
        h1 {
            font-size: 81px;
        }
    }
}

@media screen and (max-width: 490px) {
    .home-title {
        h1 {
            font-size: 64px;
        }

        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 380px) {
    .home-title {
        h1 {
            font-size: 58px;
        }

        p {
            font-size: 16px;
        }
    }
}

/* Animation */

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes SlideRight {
    from {
        background-position: center left;
    }

    to {
        background-position: center right;
    }
}

@keyframes FadeInNeon {
    from {
        opacity: 0;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 60px #ff1177,
            0 0 100px #ff1177, 0 0 150px #ff1177;
    }

    to {
        opacity: 1;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177, 0 0 25px #ff1177, 0 0 30px #ff1177,
            0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}

@keyframes Neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 60px #ff1177,
            0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177, 0 0 25px #ff1177, 0 0 30px #ff1177,
            0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}
