html,
body {
    margin: 0;
    height: 100%;
    background-color: black !important;
}

div {
    height: 100%;
}

@font-face {
    font-family: "Mexcellent";
    font-style: normal;
    font-weight: normal;
    src: local("Mexcellent"), url("./Fonts/Mexcellent.ttf") format("truetype");
}

@font-face {
    font-family: "KeepCalm";
    font-style: normal;
    font-weight: normal;
    src: local("KeepCalm"), url("./Fonts/KeepCalm.ttf") format("truetype");
}

.loading {
    background-color: black;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        font-weight: bold;
    }

    svg {
        width: 70px;
    }

    .rect {
        fill: none;
    }

    .logoText {
        font-family: "Mexcellent";
        font-size: 500px;
        fill: url(#firstLoadingGradient);
    }

    .squares-common {
        height: 8vw;
        max-height: 100%;
        width: 8vw;
        margin: auto;
        position: absolute;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0%;
    }

    .square-one {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 0 0.1vw #ff1177, 0 0 1vw 0 #ff1177, inset 0 0 0.5vw 0 #ff1177;
        animation: squareOne 4s 0.99s ease infinite;
        -moz-animation: squareOne 4s 0.99s ease infinite;
        /* Firefox */
        -webkit-animation: squareOne 4s 0.99s ease infinite;
        /* Safari and Chrome */
        -o-animation: squareOne 4s 0.99s ease infinite;
        /* Opera */
    }

    .square-two {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 0 0.1vw #c663ff, 0 0 1vw 0 #c663ff, inset 0 0 0.5vw 0 #c663ff;
        animation: squareTwo 4s 0.99s ease infinite;
        -moz-animation: squareTwo 4s 0.99s ease infinite;
        /* Firefox */
        -webkit-animation: squareTwo 4s 0.99s ease infinite;
        /* Safari and Chrome */
        -o-animation: squareTwo 4s 0.99s ease infinite;
        /* Opera */
    }

    linearGradient stop {
        &.first {
            stop-color: #ff1177;
            stop-opacity: 1;
        }

        &.second {
            stop-color: #c663ff;
            stop-opacity: 1;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes squareOne {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

@keyframes squareTwo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
