html,
body {
    margin: 0;
    height: 100%;
    background-color: black !important;
}

div {
    height: 100%;
}

@font-face {
    font-family: "Mexcellent";
    font-style: normal;
    font-weight: normal;
    src: local("Mexcellent"), url("./Fonts/Mexcellent.ttf") format("truetype");
}

@font-face {
    font-family: "KeepCalm";
    font-style: normal;
    font-weight: normal;
    src: local("KeepCalm"), url("./Fonts/KeepCalm.ttf") format("truetype");
}

.loading {
    background-color: white;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        font-weight: bold;
    }
}

polygon {
    fill: black;
}

linearGradient stop {
    stop-color: black;
    stop-opacity: 1;
}

.loading-first {
    fill: url(#firstLoadingGradient);
}

.loading-second {
    fill: url(#secondLoadingGradient);
}

.loading-third {
    fill: url(#thirdLoadingGradient);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
