.site-bg {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;

    svg {
        width: 100%;
        height: 100%;
    }

    #red {
        fill: none;
        opacity: 0.15;
        stroke: #ff1177;
        stroke-width: 12;
        stroke-miterlimit: 10;
        animation: ShowBg 4s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    #purple {
        fill: none;
        opacity: 0.15;
        stroke: #c663ff;
        stroke-width: 12;
        stroke-miterlimit: 10;
        animation: ShowBg 4s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    #white {
        fill: none;
        opacity: 0.15;
        stroke: white;
        stroke-width: 6;
        stroke-miterlimit: 10;
        stroke-dasharray: 200;
        stroke-dashoffset: 800;
        animation: DrawBg 4s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

@media screen and (max-width: 650px) {
    .site-bg {
        svg {
            width: 200%;
        }
    }
}

@media screen and (max-width: 400px) {
    .site-bg {
        svg {
            width: 300%;
        }
    }
}

@keyframes DrawBg {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes ShowBg {
    0% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.15;
    }
}
